<nav class="navbar navbar-expand-lg navbar-light navbarCustom">
  <div class="container">
    <a class="navbar-brand" href="#"><img src="../../assets/images/logo.png" /></a>
  
    <div class="collapse navbar-collapse collapseCustom" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link" href="#">Dashboard</a>
        </li>
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link" href="#">Payment</a>
        </li>
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a class="nav-link" href="#">Plans</a>
          </li>
          <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a class="nav-link" href="#">Reports</a>
          </li>
          <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a class="nav-link" href="#">QR Code</a>
          </li>
      </ul>
    </div>
    <div class="headerRight">
        <ul>
            <li>
                <a href="#" class="notification">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26.182" height="30" viewBox="0 0 26.182 30">
                        <path id="ic_notification" d="M36.636,26.082a9.82,9.82,0,0,0-7.364,9.509v6.545a1.092,1.092,0,0,1-1.09,1.092,2.182,2.182,0,1,0,0,4.364H49.995a2.182,2.182,0,1,0,0-4.364,1.088,1.088,0,0,1-1.09-1.092V35.59a9.821,9.821,0,0,0-7.364-9.509V24.955a2.455,2.455,0,1,0-4.909,0Zm-1.364,22.6h7.636a3.818,3.818,0,1,1-7.636,0Z" transform="translate(-26 -22.5)" fill="#148fed" fill-rule="evenodd"/>
                    </svg>                      
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="avatar">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                            <path id="avatar" d="M24,9A15,15,0,1,0,39,24,15,15,0,0,0,24,9Zm0,5.217a4.239,4.239,0,1,1-4.239,4.239A4.239,4.239,0,0,1,24,14.217Zm7.4,18.261a21.677,21.677,0,0,1-14.794,0,.652.652,0,0,1-.429-.613,7.826,7.826,0,1,1,15.652,0A.652.652,0,0,1,31.4,32.478Z" transform="translate(-9 -9)" fill="#148fed"/>
                        </svg>                                                  
                    </span>
                    <span class="userName">User Name</span>
                </a>
            </li>
        </ul>
    </div>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span> </span>
        <span> </span>
        <span> </span>
    </button>
  </div>
</nav>
