$primary : rgba(20, 143, 237, 1);
$white : #fff;
$darkGray : #4d4d4d;
$lightGray : #DFDFDF;
$textGray : #B8B8B8;
$lightBlue : #F0F4FF;
$blue : rgba(41, 29, 136, 1);
$red : rgba(255, 58, 14, 1);
$btnShadow : 0px 3px 6px 0px rgba(0, 0, 0, 0.16);